<!-- Landing Page Section -->
<section class="landing">

<!-- Welcome Jumborton h1 -->
<div class="container">
<div class="row">
<div class="jumbotron">
<h1 style="font-size: 74px;"><b>Hackathons for Social Good</b></h1>
<h1 style="padding-top: 30px; padding-bottom: 200px;">Good today, better tomorrow.</h1>
<h4 style="float:right;">New site coming soon...</h4>
</div>
</div>
</div>
</div>
</section><!-- Home-wrapper Section END -->